.btn-container {
    display: flex;
    gap: 10px; 
    margin-bottom: 10px; 
}
.btn1{

margin-right: 70px;

}

.btn2{

margin-left: 70px;

}
#bookForm {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}
#customerForm {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}
#customerupdForm {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}
#bookupdForm {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}
#loanForm {
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#content {
  transition: margin-left 0.5s;
  padding: 16px;
  position: relative;
left: 0;

}
.body {
transition: margin-left 0.5s;
padding: 16px;

  

}