<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../static/function.js" defer></script>
    <style>
        .btn-container {
        display: flex; /* Use flexbox to align buttons horizontally */
        gap: 10px; /* Adjust the gap between buttons as needed */
        margin-bottom: 10px; /* Add some spacing between button rows */
    }
    .btn1{

margin-right: 70px;

}

.btn2{

margin-left: 70px;

}
#bookForm {
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#customerForm {
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#customerupdForm {
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#bookupdForm {
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#loanForm {
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

    </style>
</head>
<body>
    <h1>Welcome to the Library</h1>
    
    <div class="btn-container">
        <div class ="btn1">
        <button class="btn btn-danger" onclick="displayBooks()">Books List</button>
        <button class="btn btn-info" onclick="displayLoans()"> Loans List</button>
        <button class="btn btn-warning" onclick="displayCustomers()"> Customers List</button>
       
    </div>
    <div class ="btn2">
        <button class="btn btn-danger" onclick="showBookForm()">Press to add Book </button>
        <button class="btn btn-info" onclick="showLoanForm()">Press to add Loan </button>
        <button class="btn btn-warning" onclick="showCustomerForm()">Press to add Customer </button>
    </div>
    </div>
   
       
        <div id="searchCustomerContainer" style="display: none;">
          <input type="text" id="searchInput" placeholder="Search Customer name">
          <button id="searchButton" class="btn btn-primary">Search</button>
        </div>
   
        
      
    <div id="display"></div>
    
   
    
    <div id="bookForm" style="display: none;">
        <h2>Add Book</h2>
        Name of Book <input type="text" id="boo_name"><br>
        Author of Book <input type="text" id="boo_author"><br>
        Year of publication <input type="text" id="boo_year_published"><br>
        Book Loan Period
        <select name="boo_loan_type" id="boo_loan_type">
            <option value="1">10 days</option>
            <option value="2">5 days</option>
            <option value="3">2 days</option>
        </select>
        <button class="btn btn-primary" onclick="add_book()">Add</button><br>
    </div>
    <div id="customerForm" style="display: none;">
        <h2>Add Customer</h2>
        Name of Customer <input type="text" id="cust_name"><br>
        City of Customer <input type="text" id="cust_city"><br>
        Age of Customer <input type="text" id="cust_age"><br>
        
        <button class="btn btn-primary" onclick="add_customer()">Add</button><br>
    </div>
    
    <div id="customerupdForm" style="display: none;">
        <h2>Update a Customer</h2>
        ID of Customer <input type="text" id="upd_cust_id"><br>
        Name of Customer <input type="text" id="upd_cust_name"><br>
        City of Customer <input type="text" id="upd_cust_city"><br>
        Age of Customer <input type="text" id="upd_cust_age" ><br>
        
        <button class="btn btn-primary" onclick="upd_customer()">Update</button><br>
    </div>
    <div id="bookupdForm" style="display: none;">
        <h2>Update Book</h2>
        ID of Book <input type="text" id="upd_book_id"><br>
        Name of Book <input type="text" id="upd_book_name"><br>
        Author of Book <input type="text" id="upd_book_author"><br>
        Year of publication <input type="text" id="upd_book_yearPublished"><br>
        Book Loan Period
        <select name="boo_loan_type" id="upd_book_Loantype">
            <option value="1">10 days</option>
            <option value="2">5 days</option>
            <option value="3">2 days</option>
        </select>
        <br>
        <button class="btn btn-primary" onclick="upd_Book()">Update</button><br>
    </div>
    <div id="loanForm" style="display: none;">
    <h2>Add Loan</h2>
    <form id="addLoanForm" >
        <label for="customerDropdown">Select Customer:</label>
        <select id="customerDropdown" required>
            <!-- Customer options will be populated dynamically via JavaScript -->
        </select>
        <br>

        <label for="bookDropdown">Select Book:</label>
        <select id="bookDropdown" required>
            <!-- Book options will be populated dynamically via JavaScript -->
        </select>
        <br>

        <label for="loanDate">Loan Date:</label>
        <input type="date" id="loanDate" required>
        <br>


        <button type="submit" onclick="createLoan()">Add Loan</button>
    </div>
    </form>
    <footer>
        <span id="currentDate"></span>
    </footer>
    <script>

    </script>
</body>
</html>